@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    gap: 2em;
    
}
.wave-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 2em;
    padding: 10px;
    color: #fff;
    margin-right: 15px;
    font-family: sans-serif ;
    text-shadow: 0.1em 0.2em #0002;
    width: 55%;

}

@keyframes zoomWave {

    0%,
    100% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.2);
    }
}

.wave-text.animate__animated {
    animation-duration: 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.wave-text.animate__fadeIn {
    animation-name: fadeIn;
}

.wave-text span {
    display: inline-block;
    margin: 0 5px;
    animation: zoomWave 2s infinite, fadeIn 2s;
}

.wave-text span:nth-child(2),
.wave-text span:nth-child(4) {
    animation-delay: 0.5s;
}

.wave-text span:nth-child(3) {
    animation-delay: 1s;
}

.app_card {
    width: 100%;
    max-width: 23em;
    min-height: 9em;
    background-color: #fff9;
    padding: 2.5em 2em;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 4.8em;
    border-top-right-radius: 3.8em;
    border-top-left-radius: 0;
    box-shadow: 0.3em 0.3em 0.5em #0005;
    background:
    linear-gradient(
        125deg,
        rgba(255, 255, 255, 0.531) 39%,
        rgb(51, 56, 57) 96%
    );
    display: grid;
    gap: 1em;

}


.app_phrase {
    line-height: 1.4;
    text-align: center;
    margin-right: 1.5em;
    /* color: #4c4949; */
    font-family: 'Roboto Mono', monospace;
    font-size: 1.1rem;

}

.app_btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3rem;
    border: none;
    padding: 0.4em 1.5em;
    border-radius: 0.8em;
    background-color: #F47B10;
    color: white;
    transition: transform 100ms ease, box-shadow 100ms ease;
}

.app_btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 1em rgba(124, 104, 238, 0.871);
}

@media screen and (max-width: 683px) {
    .wave-text {
        width: 100%;
    }
}